{% extends "./plantillaPrincipal.html" %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>
                <h1><b>Actualizar Vehículo</b></h1>
                <hr>
                <form action="/actualizarVehiculo/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input value="{{vehiculo.id}}" class="form-control" type="hidden" name="id" readonly>
                    <br>
                    
                    <b>Placa:</b> <br>
                    <input value="{{vehiculo.placa}}" placeholder="Ingrese la Nueva placa" class="form-control" type="text" name="placa" required>
                    <br>
                    
                    <b>Tipo de Vehículo:</b> <br>
                    <select class="form-control" name="tipo_vehiculo" required>
                        <option value="Sedán" {% if vehiculo.tipo_vehiculo == "Sedán" %}selected{% endif %}>Sedán</option>
                        <option value="Camioneta" {% if vehiculo.tipo_vehiculo == "Camioneta" %}selected{% endif %}>Camioneta</option>
                        <option value="Camión" {% if vehiculo.tipo_vehiculo == "Camión" %}selected{% endif %}>Camión</option>
                    </select>
                    <br>
                    
                    <b>Tipo de Combustible:</b> <br>
                    <select class="form-control" name="tipo_combustible" required>
                        <option value="Gasolina" {% if vehiculo.tipo_combustible == "Gasolina" %}selected{% endif %}>Gasolina</option>
                        <option value="Diésel" {% if vehiculo.tipo_combustible == "Diésel" %}selected{% endif %}>Diésel</option>
                    </select>
                    <br>
                    
                    <b>Año del Modelo:</b> <br>
                    <input value="{{vehiculo.anio_modelo}}" class="form-control" type="number" name="anio_modelo" required>
                    <br>
                    
                    <b>¿Tiene seguro vigente?</b> &nbsp;
                    <input type="checkbox" name="seguro_vigente" value="True" {% if vehiculo.seguro_vigente %}checked{% endif %} style="transform: scale(1.2); vertical-align: middle;">
                    <br><br>
                    
                    <b>Subir Nueva Foto (Opcional):</b> <br>
                    <input id="foto" class="form-control" type="file" name="foto" accept="image/*">
                    <br>

                    <div style="text-align: center;">
                        <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i> ACTUALIZAR</button>
                        <a href="/listadodevehiculos/" class="btn btn-danger"><i class="fa fa-times"></i> CANCELAR</a>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>

    <script>
    $("#foto").fileinput({
        language: "es",
        allowedFileExtensions: ["png", "jpg", "jpeg"],
        showCaption: false,
        dropZoneEnabled: true,
        showClose: false,
        {% if vehiculo.foto %}
        initialPreview: [
            "{{ vehiculo.foto.url }}"
        ],
        initialPreviewAsData: true,
        initialPreviewFileType: 'image',
        {% endif %}
        overwriteInitial: true
    });
    $(".fileinput-upload").hide();
    </script>
{% endblock %}