{% extends "./plantillaPrincipal.html" %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>
                <h1><b>Actualizar Mantenimiento</b></h1>
                <hr>
                <form action="/actualizarMantenimiento/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input value="{{mantenimiento.id}}" class="form-control" type="hidden" name="id" readonly>
                    <br>
                    
                    <b>Vehículo (Placa):</b> <br>
                    <select class="form-control" name="vehiculo">
                        {% for vehiculo in misVehiculos %}
                            <option value="{{ vehiculo.id }}" {% if vehiculo.id == mantenimiento.vehiculo.id %}selected{% endif %}>
                                {{ vehiculo.placa }}
                            </option>
                        {% endfor %}
                    </select>
                    <br>
                    
                    <b>Fecha:</b> <br>
                    <input value="{{mantenimiento.fecha|date:'Y-m-d'}}" class="form-control" type="date" name="fecha">
                    <br>
                    
                    <b>Costo:</b> <br>
                    <input value="{{mantenimiento.costo}}" placeholder="Ingrese el Nuevo costo" class="form-control" type="number" step="0.01" name="costo">
                    <br>
                    
                    <b>Tipo Mantenimiento:</b> <br>
                    <input value="{{mantenimiento.tipo_mantenimiento}}" placeholder="Ingrese el Nuevo tipo de mantenimiento" class="form-control" type="text" name="tipo_mantenimiento">
                    <br>

                    <b>Repuestos / Detalles:</b> <br>
                    <textarea class="form-control" name="repuestos_detalles" rows="3">{{mantenimiento.repuestos_detalles}}</textarea>
                    <br>
                    
                    <b>Subir Nuevo Diagnóstico PDF (Opcional):</b> <br>
                    <input id="foto" class="form-control" type="file" name="diagnostico_pdf" accept="application/pdf">
                    <br>

                    <div style="text-align: center;">
                        <button class="btn btn-success" type="submit"><i class="icon-edit"></i> Actualizar</button>
                        <a href="/listadodemantenimientos" class="btn btn-danger"><i class="icon-close"></i> Cancelar
                        </a>
                    </div>
                </form>

                <br>
            </div>
        </div>
    </div>
    <script>
    $("#foto").fileinput({
        language: "es",
        allowedFileExtensions: ["pdf"],
        showCaption: false,
        dropZoneEnabled: true,
        showClose: false,
        {% if mantenimiento.diagnostico_pdf %}
        initialPreview: [
            "{{ mantenimiento.diagnostico_pdf.url }}"
        ],
        initialPreviewAsData: true,
        initialPreviewFileType: 'pdf',
        {% endif %}
        overwriteInitial: true
        });
        $(".fileinput-upload").hide();
            
    </script>
{% endblock %}