{% extends "./plantillaPrincipal.html" %}
{% block contenido %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-light p-4 rounded shadow-sm">
                <h1 class="text-center mb-4"><b>Actualizar Vehículo</b></h1>
                <hr>
                <form action="/actualizarVehiculo/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input value="{{vehiculo.id}}" type="hidden" name="id" readonly>
                    
                    <b>Placa:</b> <br>
                    <input value="{{vehiculo.placa}}" placeholder="Ingrese la Nueva placa" class="form-control" type="text" name="placa">
                    <br>
                    
                    <b>Tipo Vehículo:</b> <br>
                    <input value="{{vehiculo.tipo_vehiculo}}" placeholder="Ingrese el Nuevo tipo de vehículo" class="form-control" type="text" name="tipo_vehiculo">
                    <br>
                    
                    <b>Tipo Combustible:</b> <br>
                    <input value="{{vehiculo.tipo_combustible}}" placeholder="Ingrese el Nuevo tipo de combustible" class="form-control" type="text" name="tipo_combustible">
                    <br>
                    
                    <b>Año Modelo:</b> <br>
                    <input value="{{vehiculo.anio_modelo}}" placeholder="Ingrese el Nuevo año del modelo" class="form-control" type="number" name="anio_modelo">
                    <br>
                    
                    <b>¿Seguro Vigente?</b> <br>
                    <input type="checkbox" name="seguro_vigente" value="True" {% if vehiculo.seguro_vigente %}checked{% endif %} style="transform: scale(1.2); margin-top: 5px;">
                    <br><br>
                    
                    <b>Subir Nueva Foto (Opcional):</b> <br>
                    <input id="foto" class="form-control" type="file" name="foto" accept="image/*">
                    <br>

                    <div style="text-align: center;">
                        <button class="btn btn-success me-2" type="submit"><i class="fas fa-edit"></i> Actualizar</button>
                        <a href="/listadodevehiculos" class="btn btn-danger"><i class="fas fa-times"></i> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
    $("#foto").fileinput({
        language: "es",
        allowedFileExtensions: ["png", "jpg", "jpeg"],
        showCaption: false,
        dropZoneEnabled: true,
        showClose: false,
        initialPreview: [
            "{{ vehiculo.foto.url }}" 
        ],
        initialPreviewAsData: true,
        initialPreviewFileType: 'image',
        overwriteInitial: true
    });
    $(".fileinput-upload").hide();
    </script>
{% endblock %}