{% extends "./plantillaPrincipal.html" %}
{% block contenido %}
    <center>
        <br>
        <h1><b>Historial de Mantenimientos</b>            
            {% if not user.username == "gerente" %}
            <a href="/NuevoMantenimiento/" class="btn btn-info"> 
                <i class="fa fa-plus-circle"></i> Registrar Orden
            </a>        
            {% endif %}
        </h1>
        <hr>
    </center>

    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="tbl_mantenimientos" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>VEHÍCULO</th>
                        <th>FECHA</th>  
                        <th>COSTO</th>   
                        <th>TIPO MANTENIMIENTO</th>   
                        <th>REPUESTOS / DETALLES</th>   
                        <th>DIAGNÓSTICO (PDF)</th>       
                        <th style="width: 220px;">ACCIONES</th>               
                    </tr>
                </thead>
                <tbody>
                    {% for mantenimientoTemporal in mantenimientos %}
                        <tr>
                            <td><b>{{mantenimientoTemporal.vehiculo.placa}}</b></td>
                            <td>{{mantenimientoTemporal.fecha_servicio}}</td>
                            <td>
                                <span style="color: #198754; font-weight: bold;">${{mantenimientoTemporal.costo_taller}}</span>
                            </td>
                            <td>{{mantenimientoTemporal.tipo_mantenimiento}}</td>
                            <td>{{mantenimientoTemporal.repuestos_cambiados}}</td>
                            <td class="text-center">
                                {% if mantenimientoTemporal.pdf_diagnostico %}
                                    <a href="{{ mantenimientoTemporal.pdf_diagnostico.url }}" target="_blank" class="btn btn-outline-danger btn-sm" style="font-size: 11px; font-weight: bold; padding: 4px 8px;">
                                        VER FACTURA PDF
                                    </a>
                                {% else %}
                                    <b>N/A</b>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/editarMantenimiento/{{mantenimientoTemporal.id}}/" class="btn btn-outline-warning" title="Editar Mantenimiento">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="/eliminarMantenimiento/{{mantenimientoTemporal.id}}/" title="Eliminar Mantenimiento" onclick="return confirm('¿Está seguro de eliminar este mantenimiento?')" class="btn btn-outline-danger">
                                     <i class="fa fa-trash"></i>
                                </a>

                                {% if mantenimientoTemporal.pdf_diagnostico %}                                     
                                    <a title="Ver PDF" class="btn btn-outline-info" href="{{ mantenimientoTemporal.pdf_diagnostico.url }}" target="_blank">
                                        <i class="fa fa-image"></i>
                                    </a>    
                                    <a title="Descargar PDF" class="btn btn-outline-dark" href="{{ mantenimientoTemporal.pdf_diagnostico.url }}" download>
                                        <i class="fa fa-download"></i>
                                    </a>                             
                                {% else %}
                                     <a title="No hay PDF disponible" class="disabled btn btn-outline-info" href="javascript:void(0)">
                                        <i class="fa fa-image"></i>
                                    </a>    
                                     <a title="No hay PDF disponible" class="disabled btn btn-outline-dark" href="javascript:void(0)">
                                        <i class="fa fa-download"></i>
                                     </a>  
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let table = new DataTable('#tbl_mantenimientos');
    </script>
{% endblock %}