{% extends "index.html" %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>
                <h1><b>Registrar Nuevo Vehículo</b></h1>
                <hr>
                <form enctype="multipart/form-data" id="formulario_vehiculo" action="/guardarVehiculo/" method="post">
                    {% csrf_token %}
                    <b>Placa:</b> <br>
                    <input placeholder="Ej: ABC-1234" class="form-control" type="text" name="placa" >
                    <br>
                    <b>Tipo de Vehículo:</b> <br>
                    <input placeholder="Ej: Sedán, Camioneta, Camión" class="form-control" type="text" name="tipo_vehiculo" >
                    <br>
                    <b>Tipo de Combustible:</b> <br>
                    <input placeholder="Ej: Gasolina, Diésel, Eléctrico" class="form-control" type="text" name="tipo_combustible" >
                    <br>
                    <b>Año del Modelo:</b> <br>
                    <input placeholder="Ej: 2024" class="form-control" type="number" name="anio_modelo" >
                    <br>
                    <b>Fotografía:</b> <br>
                    <input type="file" name="foto" id="foto" class="form-control">
                    <br>
                    <button class="btn btn-success" type="submit"> <i class="fa fa-save"></i> Guardar</button>
                    <a href="/listadodevehiculos/" class="btn btn-secondary"> Cancelar</a>
                </form>
                <br>
            </div>
        </div>
    </div>
<script>
     $("#formulario_vehiculo").validate({
        rules: {
            placa: { required: true, minlength: 7 },
            tipo_vehiculo: { required: true },
            tipo_combustible: { required: true },
            anio_modelo: { required: true, min: 1950, max: 2027 }
        },
        messages: { 
            placa: { required: "Ingrese la placa", minlength: "Mínimo 7 caracteres" },
            tipo_vehiculo: { required: "Ingrese el tipo de vehículo" },
            tipo_combustible: { required: "Ingrese el tipo de combustible" },
            anio_modelo: { required: "Ingrese el año", min: "Año inválido", max: "Año excedido" }
        }
    })
</script>
{% endblock %}