{% extends "index.html" %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>
                <h1><b>Registrar Nuevo Mantenimiento</b></h1>
                <hr>
                <form enctype="multipart/form-data" id="formulario_mantenimiento" action="/guardarMantenimiento/" method="post">
                    {% csrf_token %}
                    <b>Fecha del Servicio:</b> <br>
                    <input class="form-control" type="date" name="fecha_servicio" >
                    <br>
                    <b>Costo del Taller :</b> <br>
                    <input placeholder="0.00" class="form-control" type="number" step="0.01" name="costo_taller" >
                    <br>
                    <b>Tipo de Mantenimiento:</b> <br>
                    <select class="form-control" name="tipo_mantenimiento">
                        <option value="">-- Seleccione una opción --</option>
                        <option value="Preventivo">Preventivo</option>
                        <option value="Correctivo">Correctivo</option>
                    </select>
                    <br>
                    <b>Repuestos Cambiados:</b> <br>
                    <textarea placeholder="Detalle los arreglos efectuados..." class="form-control" name="repuestos_cambiados" rows="3"></textarea>
                    <br>
                    <b>Documento Diagnóstico (PDF):</b> <br>
                    <input type="file" name="pdf_diagnostico" id="pdf_diagnostico" class="form-control" accept=".pdf">
                    <br>
                    <button class="btn btn-success" type="submit"> <i class="fa fa-save"></i> Guardar</button>
                    <a href="/listadodemantenimientos/" class="btn btn-secondary"> Cancelar</a>
                </form>
                <br>
            </div>
        </div>
    </div>
<script>
     $("#formulario_mantenimiento").validate({
        rules: {
            fecha_servicio: { required: true },
            costo_taller: { required: true, min: 0 },
            tipo_mantenimiento: { required: true },
            repuestos_cambiados: { required: true, minlength: 5 }
        },
        messages: { 
            fecha_servicio: { required: "Seleccione la fecha" },
            costo_taller: { required: "Ingrese el costo", min: "No puede ser negativo" },
            tipo_mantenimiento: { required: "Seleccione el tipo" },
            repuestos_cambiados: { required: "Detalle los repuestos", minlength: "Mínimo 5 caracteres" }
        }
    })
</script>
{% endblock %}