{% extends "./plantillaPrincipal.html" %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>
                <h1><b>Registrar Nuevo Vehículo</b></h1>
                <hr>
                <form enctype="multipart/form-data" id="form_nuevo_vehiculo" action="/guardarVehiculo/" method="post">
                    {% csrf_token %}
                    
                    <b>Placa:</b> <br>
                    <input required minlength="7" maxlength="10" placeholder="Ingrese la placa (Ej: PBX-1234)" class="form-control" type="text" name="placa">
                    <br>
                    
                    <b>Tipo de Vehículo:</b> <br>
                    <select required class="form-control" name="tipo_vehiculo">
                        <option value="">-- Seleccione Tipo --</option>
                        <option value="Sedán">Sedán</option>
                        <option value="Camioneta">Camioneta</option>
                        <option value="Camión">Camión</option>
                    </select>
                    <br>
                    
                    <b>Tipo de Combustible:</b> <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tipo_combustible" id="gasolina" value="Gasolina" checked>
                        <label class="form-check-label" for="gasolina">Gasolina</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tipo_combustible" id="diesel" value="Diésel">
                        <label class="form-check-label" for="diesel">Diésel</label>
                    </div>
                    <br><br>
                    
                    <b>¿Tiene seguro vigente?</b> &nbsp;
                    <input type="checkbox" name="seguro_vigente" value="True" style="transform: scale(1.2); vertical-align: middle;">
                    <br><br>
                    
                    <b>Año del Modelo:</b> <br>
                    <input required placeholder="Ingrese el año de fabricación" class="form-control" type="number" name="anio_modelo">
                    <br>
                    
                    <b>Fotografía del Vehículo:</b>
                    <input type="file" name="foto" id="foto" required>
                    <br> <br>
                    
                    <div style="text-align: center;">
                        <button class="btn btn-success" type="submit"> <i class="fa fa-save"></i> Guardar</button>
                        <a href="/listadodevehiculos/" class="btn btn-danger"> <i class="fa fa-times"></i> Cancelar</a>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>

    <script>
        $("#form_nuevo_vehiculo").validate({
            rules: {
                placa: { required: true, minlength: 7 },
                tipo_vehiculo: { required: true },
                anio_modelo: { required: true, number: true }
            },
            messages: {
                placa: { required: "Por favor ingrese la placa", minlength: "Debe tener al menos 7 caracteres" },
                tipo_vehiculo: { required: "Por favor seleccione el tipo de vehículo" },
                anio_modelo: { required: "Por favor ingrese el año", number: "Introduzca un número válido" }
            }
        });

        $("#foto").fileinput({
            language: "es",
            allowedFileExtensions: ["png", "jpg", "jpeg"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
        });
        $(".fileinput-upload").hide();
    </script>
{% endblock %}